@model AgathaChristieFanPage.ViewModels.ReadingChecklist

@{ Layout = ""; }

<div class="page-title">
    <h1>READING CHECKLIST</h1>
</div>
<article class="reading-checklist" ng-controller="ReadingChecklistController">
    <table>
        @foreach (var novel in Model.Novels)
        {
            <tr class="checklist-item">
                <td class="thumbnail-cell" ng-click="ShowNovelDetails(@novel.NovelId)">
                    <img class="thumbnail" src="@novel.ThumbnailUrl" />
                </td>
                <td class="novel-name-cell" ng-click="ShowNovelDetails(@novel.NovelId)">@novel.NovelName</td>
                <td class="publishing-year-cell">Published in @novel.PublishingYear</td>
                <td class="category-cell">@novel.Category Series</td>
                <td class="checkbox-cell">
                    <div>
                        <input id="read-@novel.NovelName" type="checkbox" name="read">
                        <label for="read-@novel.NovelName">Read</label>
                    </div>
                    <div>
                        <input id="watched-@novel.NovelName" type="checkbox" name="watched">
                        <label for="watched-@novel.NovelName">Watched</label>
                    </div>
                    <div>
                        <input id="ownACopy-@novel.NovelName" type="checkbox" name="ownACopy">
                        <label for="ownACopy-@novel.NovelName">Own a Copy</label>
                    </div>
                </td>
            </tr>
        }
    </table>
    <div class="novel-details-overlay" ng-controller="NovelDetailsController" ng-show="IsDisplaying">
        <button class="overlay-close-button" ng-click="CloseOverlay()"></button>
        <div class="overlay-content">
            <h2>{{::Novel.NovelName}}</h2>
            <div class="image-carousel">
                <img ng-src="{{::Novel.Images[0].ImageUrl}}" />
                <button class="arrow previous" ng-show="ActiveImageId !== 1" ng-click="PreviousImage()">&#10094;</button>
                <button class="arrow next" ng-show="ActiveImageId !== Novel.Images.length" ng-click="NextImage()">&#10095;</button>
                <ul class="carousel-images">
                    <li ng-repeat="image in Novel.Images" carousel-image-directive="{{image.Id}}" active-image-id="{{ActiveImageId}}">
                        <img ng-src="{{::image.ImageUrl}}"/>
                    </li>
                </ul>
            </div>
            <div class="novel-details">
                <h4>{{::Novel.Category}} Series <span>(Published in {{::Novel.PublishingYear}})</span></h4>
                <p>{{::Novel.Description}}</p>
            </div>
        </div>
    </div>
</article>