@model AgathaChristieFanPage.ViewModels.ReadingChecklist

@{ Layout = ""; }

<div class="page-title">
    <h1>READING CHECKLIST</h1>
</div>
<article class="reading-checklist">
    <table>
        @foreach (var novel in Model.Novels)
        {
            <tr class="checklist-item" ng-controller="ReadingChecklistItem_Controller">
                <td class="thumbnail-cell" ng-click="ShowNovelDetails(@novel.NovelId)">
                    <img class="thumbnail" src="@novel.ThumbnailUrl" />
                </td>
                <td class="novel-name-cell" ng-click="ShowNovelDetails(@novel.NovelId)">@novel.NovelName</td>
                <td class="publishing-year-cell">Published in @novel.PublishingYear</td>
                <td class="category-cell">@novel.Category Series</td>
                <td class="checkbox-cell">
                    <div>
                        <input id="read-@novel.NovelName" type="checkbox" name="read">
                        <label for="read-@novel.NovelName">Read</label>
                    </div>
                    <div>
                        <input id="watched-@novel.NovelName" type="checkbox" name="watched">
                        <label for="watched-@novel.NovelName">Watched</label>
                    </div>
                    <div>
                        <input id="ownACopy-@novel.NovelName" type="checkbox" name="ownACopy">
                        <label for="ownACopy-@novel.NovelName">Own a Copy</label>
                    </div>
                </td>
            </tr>
        }
    </table>
</article>