@model AgathaChristieFanPage.ViewModels.Auth.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<p>Alternatively you can log in with</p>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() != 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <ul>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <li>
                        <div class="media-logo @p.AuthenticationType"></div>
                        <button type="submit" class="btn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    </li>
                }
            </ul>
        }
    }
}
