@model AgathaChristieFanPage.ViewModels.Auth.ExternalLoginConfirmationViewModel

@Html.Partial("~/Views/_PageTitlePartial.cshtml", null, new ViewDataDictionary { { "PageTitle", "REGISTER" } })

<p class="info-message">
    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
    Please enter a Display Name for this site below and click the Register button to complete registration.
</p>

<div class="auth-page">
    <section class="auth-form">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(m => m.DisplayName)
            @Html.TextBoxFor(m => m.DisplayName)
            @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.Email)
            <input type="submit" class="btn" value="REGISTER" />
        }
    </section>
</div>
