@using AgathaChristieFanPage.ViewModels.Auth
@model ForgotPasswordViewModel

@Html.Partial("~/Views/_PageTitlePartial.cshtml", null, new ViewDataDictionary { { "PageTitle", "FORGOT PASSWORD" } })

@if (Model != null && Model.InfoMessage != null)
{
    <p class="info-message">@Model.InfoMessage</p>
}

<div class="auth-page">
    <section class="auth-form">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h4>Please enter your email address so that we could send you the password reset link</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <input type="submit" class="btn" value="EMAIL LINK" />
        }
    </section>
</div>
