@using AgathaChristieFanPage.ViewModels.Auth
@model LoginViewModel

@Html.Partial("~/Views/_PageTitlePartial.cshtml", null, new ViewDataDictionary { { "PageTitle", "LOG IN" } })

<div class="auth-page">
    <section class="auth-form">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "remember-me-box" })
            @Html.LabelFor(m => m.RememberMe, new { @class = "remember-me" })

            <input type="submit" value="LOG IN" class="btn" />
            <p>
                Not a member yet?
            </p>
            @Html.ActionLink("SIGN UP", "Register", "Auth", new { @class = "btn" })
            
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
    </section>
    <section class="social-login-form">
        @Html.Partial("~/Views/Auth/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>