@using AgathaChristieFanPage.ViewModels.Auth
@model ResetPasswordViewModel

@Html.Partial("~/Views/_PageTitlePartial.cshtml", null, new ViewDataDictionary { { "PageTitle", "RESET PASSWORD" } })

@*@if (Model != null && Model.InfoMessage != null)
{
    <p class="info-message">@Model.InfoMessage</p>
}*@

<div class="auth-page">
    <section class="auth-form">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <input type="submit" class="btn" value="RESET" />
        }
    </section>
</div>
